@mixin std-background {
  background: rgba(255,255,255,0.8);
  padding: 10px;
  border-radius: 5px;
}
@mixin arrow($expanded: false) {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 7px solid #A4A39C;
  content: "";
  display: inline-block;
  height: 0px;
  margin-left: 0px;
  margin-right: 3px;
  position: relative;
  top: 2px;
  width: 0px;
  @if $expanded == true {
    border-top: 7px solid #A4A39C;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    left: -3px;
    margin-right: -2px;
    top: 5px;
  }
}

body {
  font-family: sans-serif;
  @for $i from 1 through 5 {
    // class for use in layout
    .level-#{$i} {
      margin: 10px 25px;
      img {
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }

  a {
    color: #A4A39C;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .categories, .controls {
    position: absolute;
    z-index: 100;
  }
  .categories {
    left: 90px;
    top: 34px;
    @include std-background;
  }

  #connect {
    background: rgba(255,255,255,0.8);
    border: solid 1px #C4C3BC;
    border-radius: 2px;
    box-sizing: border-box;
    display: block;
    padding: 8px;
    text-align: center;
    text-decoration: none !important;
    width: 100%;
  }

  input {
    background: rgba(255,255,255,0.8);
    border: solid 1px #A4A39C;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    margin: 0px 5px 10px;
    outline: none;
    padding: 14px;
    width: 300px;
    -webkit-transition: all 200ms ease-in-out;
    &:focus {
      box-shadow: 0 0 6px rgba(200, 200, 200, 1);
    }
  }

  .category-list-tupac-wrapper {
    max-height: 400px;
    overflow: scroll;
    h3 {
      margin-top: 0px;
      margin-bottom: 8px;
    }
    .cat-entry.level-1 { display: block; }
    .cat-entry {
      display: none;
      & > span {
        cursor: pointer;
        margin-left: 10px;
      }
      &.level-1 { margin-left: 4px; }
      &.has-children {
        & > span {
          margin-left: 0px;
          &::before {
            @include arrow;
          }
        }
        &.expanded {
          & > div { display: block; }
          & > span::before {
            @include arrow(true);
          }
        }
      }
      &:first-child {
        margin-top: 0px;
      }
      &:last-child {
        margin-bottom: 0px;
      }
    }
    .close-cat {
      cursor: pointer !important;
      float: right;
    }
  }

  .filter {
    box-sizing: border-box;
    color: #A4A39C;
    display: block;
    margin-left: 0px;
    margin-bottom: 10px;
    width: 100%;
    @include std-background;
    img {
      margin-right: 5px;
      vertical-align: middle;
    }
  }

  .stats {
    display: none;
    @include std-background;
  }

  #canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 50;
  }

  .open-zone {
    color: black;
    &::after {
      content: ",";
      display: inline-block;
    }
    &:last-of-type::after {
      display: none;
    }
  }
}

.none {
  display: none !important;
}