@mixin std-background {
  background: rgba(255,255,255,0.8);
  padding: 10px;
  border-radius: 5px;
}
@mixin arrow($expanded: false) {
  cursor: pointer;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 7px solid #A4A39C;
  content: "";
  display: inline-block;
  height: 0px;
  margin-left: 0px;
  margin-right: 3px;
  position: relative;
  top: 2px;
  width: 0px;
  @if $expanded == true {
    border-top: 7px solid #A4A39C;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    left: -3px;
    margin-right: -2px;
    top: 5px;
  }
}

body {
  font-family: sans-serif;
  @for $i from 1 through 5 {
    // class for use in layout
    .level-#{$i} {
      margin: 10px 25px;
      img {
        vertical-align: middle;
        margin-right: 5px;
        cursor: pointer;
      }
    }
  }

  .categories, .controls {
    position: absolute;
    z-index: 100;
  }
  .categories {
    left: 90px;
    top: 34px;
    @include std-background;
  }

  .category-list-tupac-wrapper {
    margin-top: 10px;
    height: 400px;
    overflow: scroll;
    a {
      color: #A4A39C;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    h3 { margin-top: 0px; }
    .cat-entry.level-1 { display: block; }
    .cat-entry {
      display: none;
      & > span { margin-left: 10px; }
      &.level-1 { margin-left: 4px; }
      &.has-children {
        & > span {
          margin-left: 0px;
          &::before {
            @include arrow;
          }
        }
        &.expanded {
          & > div { display: block; }
          & > span::before {
            @include arrow(true);
          }
        }
      }
      &:first-child {
        margin-top: 0px;
      }
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .stats {
    display: none;
    @include std-background;
  }

  #canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 50;
  }
}
