body {
  font-family: sans-serif; }
  body .level-1 {
    margin: 10px 0px; }
    body .level-1 img {
      vertical-align: middle;
      margin-right: 5px;
      cursor: pointer; }
  body .level-2 {
    margin: 10px 35px; }
    body .level-2 img {
      vertical-align: middle;
      margin-right: 5px;
      cursor: pointer; }
  body .level-3 {
    margin: 10px 70px; }
    body .level-3 img {
      vertical-align: middle;
      margin-right: 5px;
      cursor: pointer; }
  body .level-4 {
    margin: 10px 105px; }
    body .level-4 img {
      vertical-align: middle;
      margin-right: 5px;
      cursor: pointer; }
  body .level-5 {
    margin: 10px 140px; }
    body .level-5 img {
      vertical-align: middle;
      margin-right: 5px;
      cursor: pointer; }
  body .categories, body .controls {
    position: absolute;
    z-index: 100; }
  body .categories {
    left: 90px;
    top: 34px; }
  body .category-list-tupac-wrapper {
    margin-top: 10px;
    height: 400px;
    overflow: scroll;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px; }
    body .category-list-tupac-wrapper h3 {
      margin-top: 0px; }
    body .category-list-tupac-wrapper .cat-entry:first-child {
      margin-top: 0px; }
    body .category-list-tupac-wrapper .cat-entry:last-child {
      margin-bottom: 0px; }
  body .stats {
    display: none;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px; }
  body #canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 50; }
