!!!
%html
  %head
    %title SquarePlot
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyBhmjsRow4-pvZUzsPdYtoS6hyGAu-HqfI&sensor=true"}
    %script{src: "javascripts/application.js"}
    %script{src: "javascripts/foursquare.js"}
    %script{src: "javascripts/zoner.js"}
    %script{src: "nyc-zone-data/neighborhoods.js"}
    %link{rel: "stylesheet", href: "application.css", type: "text/css"}
  %body
    %header
      SquarePlot
    %main
      %div#canvas

      %section.categories
        %a#connect{href: "#"} Connect with FourSquare
        %div.category-list-tupac-wrapper
          %h3
            Select a category
          %input{type: "text", placeholder: "Search"}
          %div#category_list.level-0
        %div.stats#stats
      %section.controls
